a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* typography */
.introText {
    line-height: 32px;
}

.iconStyle {
    font-size: 10rem;
}

.MuiPaper-root {
    background: rgb(84, 56, 149);
    background: linear-gradient(211deg, rgba(84,56,149,1) 0%, rgba(26,19,37,1) 24%, rgba(32,23,48,1) 62%, rgba(84,56,149,1) 96%, rgba(84,56,149,1) 100%);     background-size: 400% 400%;
    border: rgba(84, 56, 149, 0.24) solid;
    animation: gradient 15s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
